<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Title</key>
	<string>Lasso-HTML</string>
	<key>Clips</key>
	<array>

		<dict> <!-- Syntax group -->
			<key>Title</key>
			<string>Syntax</string>
			<key>Clips</key>
			<array>

				<!-- Local variable -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Local variable</string>
					<key>Trigger</key>
					<string>local(</string>
					<key>Content</key>
					<string>local(name = expression)</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{13, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Local typed variable</string>
					<key>Trigger</key>
					<string>local:</string>
					<key>Content</key>
					<string>local(name::type = expression)</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{12, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{19, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>

				<!-- Thread variable -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Thread variable</string>
					<key>Trigger</key>
					<string>var(</string>
					<key>Content</key>
					<string>var(name = expression)</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{4, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{11, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Thread typed variable</string>
					<key>Trigger</key>
					<string>var:</string>
					<key>Content</key>
					<string>var(name::type = expression)</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{4, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{10, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{17, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>

				<!-- Conditional operator -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Conditional operator</string>
					<key>Trigger</key>
					<string>?</string>
					<key>Content</key>
					<string>? statement | statement</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{2, 9}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{14, 9}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>

				<!-- Association block -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Association block</string>
					<key>Trigger</key>
					<string>=></string>
					<key>Content</key>
					<string>=> {&#xA;	Text SelectionInsertion Point&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{20, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

				<!-- Auto-collect capture -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Auto-collect capture</string>
					<key>Trigger</key>
					<string>^</string>
					<key>Content</key>
					<string>{^&#xA;	Text SelectionInsertion Point&#xA;^}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{4, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{18, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

				<!-- Block comment -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Block comment</string>
					<key>Trigger</key>
					<string>/*</string>
					<key>Content</key>
					<string>/* Text SelectionInsertion Point */</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{3, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{17, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

				<!-- Doc comment -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Doc comment</string>
					<key>Trigger</key>
					<string>/**</string>
					<key>Content</key>
					<string>/**!&#xA;	Text SelectionInsertion Point&#xA;*/</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{20, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

			</array>
		</dict> <!-- Syntax group -->

		<dict> <!-- Control Flow group -->
			<key>Title</key>
			<string>Control Flow</string>
			<key>Clips</key>
			<array>

				<!-- If statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>If statement</string>
					<key>Trigger</key>
					<string>if(</string>
					<key>Content</key>
					<string>if(expression) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{3, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{21, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Else condition -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Else condition</string>
					<key>Trigger</key>
					<string>else(</string>
					<key>Content</key>
					<string>else(expression)&#xA;	Text Selection</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{5, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{18, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Match statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Match statement</string>
					<key>Trigger</key>
					<string>match(</string>
					<key>Content</key>
					<string>match(expression) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{24, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Case condition -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Case condition</string>
					<key>Trigger</key>
					<string>case(</string>
					<key>Content</key>
					<string>case(expression)&#xA;	Text Selection</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{5, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{18, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Query expression -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Query expression</string>
					<key>Trigger</key>
					<string>within</string>
					<key>Content</key>
					<string>with name in trait_queriable&#xA;action expression</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{5, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{13, 15}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{29, 6}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{36, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>

				<!-- While statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>While statement</string>
					<key>Trigger</key>
					<string>while(</string>
					<key>Content</key>
					<string>while(expression) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{6, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{24, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Loop statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Loop statement</string>
					<key>Trigger</key>
					<string>loop(</string>
					<key>Content</key>
					<string>loop(to, from, by) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{5, 2}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{9, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{15, 2}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{25, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Iterate statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Iterate statement</string>
					<key>Trigger</key>
					<string>iterate(</string>
					<key>Content</key>
					<string>iterate(trait_forEach) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{8, 13}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{29, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Split Thread block -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Split Thread block</string>
					<key>Trigger</key>
					<string>stblock</string>
					<key>Content</key>
					<string>split_thread => {&#xA;	Text SelectionInsertion Point&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{19, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{33, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

				<!-- Protect block -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Protect block</string>
					<key>Trigger</key>
					<string>pblock</string>
					<key>Content</key>
					<string>protect => {&#xA;	Text SelectionInsertion Point&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{14, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{28, 15}</string>
							<key>Type</key>
							<integer>9</integer>
						</dict>
					</array>
				</dict>

				<!-- Handle statement -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Handle statement</string>
					<key>Trigger</key>
					<string>handle(</string>
					<key>Content</key>
					<string>handle(expression) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{7, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{25, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Handle Failure statement</string>
					<key>Trigger</key>
					<string>failure(</string>
					<key>Content</key>
					<string>handle_failure(expression) => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{15, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{33, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

			</array>
		</dict> <!-- Control Flow group -->

		<dict> <!-- Definitions group -->
			<key>Title</key>
			<string>Definitions</string>
			<key>Clips</key>
			<array>

				<!-- Method definition -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Method definition</string>
					<key>Trigger</key>
					<string>mdefine</string>
					<key>Content</key>
					<string>define method_name(parameters)::type => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{7, 11}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{19, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{32, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{43, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Type definition -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Type definition</string>
					<key>Trigger</key>
					<string>tdefine</string>
					<key>Content</key>
					<string>define type_name => type {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{7, 9}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{28, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Member Method definition -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Member Method definition</string>
					<key>Trigger</key>
					<string>mmdefine</string>
					<key>Content</key>
					<string>public member_name(parameters)::type => {&#xA;	Text Selection&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{7, 11}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{19, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{32, 4}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
						<dict>
							<key>Range</key>
							<string>{43, 14}</string>
							<key>Type</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>

				<!-- Trait Import block -->
				<dict>
					<key>Versions</key>
					<array/>
					<key>Title</key>
					<string>Trait Import block</string>
					<key>Trigger</key>
					<string>tiblock</string>
					<key>Content</key>
					<string>trait => {&#xA;	import trait_name&#xA;}</string>
					<key>Placeholders</key>
					<array>
						<dict>
							<key>Range</key>
							<string>{19, 10}</string>
							<key>Type</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>

			</array>
		</dict> <!-- Definitions group -->

	</array>
</dict>
</plist>
